:root{
    font-family: Whitney, ‘Helvetica Neue’, Helvetica, Arial, sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.col{
    border: 1px dashed black;
}
/*Stili header*/
header{
    background-color: rgb(199, 234, 247);
    height: 50px;
}

#testa{
    display: flex;
    width: 60%;
    justify-content: center;
    margin: 0 auto;

    /*debug*/
    border: 1px dashed black;
}

.colonneHeader{
    background-color: orange;
    width: calc(100%/3);
    margin: 10px auto;


}